.myApp{
    color: red;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
}

.myBody{
    color: blue;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}
