body {
    background: #bad34b;
    background: -webkit-linear-gradient(to right, #6ddbce, #96c93d);
    background: linear-gradient(to right, #61aaa1, #96c93d);
    min-height: 100vh;
  }
  
  .text-gray {
    color: #aaa;
  }